<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"
			name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
		
		<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
			crossorigin="anonymous" />
		
		<title>Form Page</title>
	</head>

	<body>
		<div class="container">
			<h3>Customer Directory</h3>
			<hr>
			
			<p class="h4 mb-4">Save Customer</p>
			
			<form action="#" th:action="@{/customer/saveOrUpdate}" th:object="${customer}" method="post">
				<!-- adding customer id as hidden form field for update, id not displaying to end user -->
				<input type="hidden" th:field="*{id}" />	<!-- id will be null for saving new record and old customer id will be displayed for updation -->
				
				<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" 
					placeholder="Enter First Name" />
				
				<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" 
					placeholder="Enter Last Name" />
				
				<input type="text" th:field="*{email}" class="form-control mb-4 col-4" 
					placeholder="Enter Email" />
				
				<button type="submit" class="btn btn-info col-2">Save</button>
			</form>	
			
			<hr>
			<a th:href="@{/customer/list}">Go Back to View All Records</a>
		</div>
		
	</body>
</html>